connection:
  username: {{ backup_user }}
  ssh_key_file: {{ borg_home_directory }}/.ssh/id_rsa_borg

server:
  job_queue_path: {{ postjob_runner_queue_path }}
  log_dir: /var/log/borgbackup
  home_dir: {{ borg_home_directory }}
  ansible_working_directory: {{ postjob_working_directory }}
